input {
  text-align: center;
  display: block;
  margin: 5px auto 15px;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

label {
  display: block;
  text-align: center;
  
}

p {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
}