h2 {
  text-align: center;
}

div {
  width: 500px;
  margin: 15px auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.vermelho {
  color: red;
  font-weight: bold;
}

.amarelo {
  color: #d6a500;
  font-weight: bold;
}

.verde {
  color: green;
  font-weight: bold;
}