<p>Exercício 9</p>

<h2>Classificação dos Produtos</h2>

<div *ngFor="let produto of produtos">

  <h3>{{ produto.nome }}</h3>

  <p>
    Quantidade disponível: {{ produto.quantidade }}
  </p>

  <p
    [ngClass]="{
      'vermelho': produto.quantidade === 0,
      'amarelo': produto.quantidade >= 1 && produto.quantidade <= 5,
      'verde': produto.quantidade > 5
    }"
  >
    <span *ngIf="produto.quantidade === 0">
      Sem estoque
    </span>

    <span *ngIf="produto.quantidade >= 1 && produto.quantidade <= 5">
      Estoque baixo
    </span>

    <span *ngIf="produto.quantidade > 5">
      Estoque disponível
    </span>
  </p>

</div>