h2 {
  text-align: center;
}

button {
  margin: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

div {
  width: 500px;
  margin: 15px auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}